h1  {
    margin-right: 35px;
    height: 80px;
    display: flex; 
    font-size: 40px;
}
  


body {
margin: 0%;
background-color: lime;

}

.jumbotron {

    margin-top: 80px;
    
    border-radius: 15px;

}

